.start {
  height: 100%;
  max-height: 70vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.start input[type="text"] {
  padding: 0.2rem 0.8rem;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #6a5be2;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  width: 290px;
  height: 50px;
  margin: 20px 0;
}

.start input[type="text"]:focus {
  border-color: #6a5be2;
  box-shadow: 0 0 15px #4832f4;
  outline: none;
}

.start .difficulty button {
  padding: 0.9rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 8px;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
}

.start .difficulty button:active {
  transform: scale(0.95);
}

.startGame {
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #4832f4;
  color: #fff;
}

span.absolute {
  color: rgba(71, 50, 227, 0.8);
  z-index: -1;
}
.abs1 {
  top: 60%;
  left: 100%;
  transform: scale(10.5) rotate(35deg);
}
.abs2 {
  top: 25%;
  left: 43%;
  transform: scale(10.5) rotate(35deg);
}
.abs3 {
  top: 60%;
  right: 100%;
  transform: scale(10.5) rotate(315deg);
}
