@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
ul li,
ol li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.g-12 {
  gap: 12px;
}

.g-24 {
  gap: 24px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.flex-col {
  flex-direction: column;
}

main {
  height: calc(100vh - 64px);
}

.errors {
  font-size: 1.1rem;
  text-align: center;
  max-width: 30ch;
  margin: 0.9rem 0 0px;
  color: #830202;
}

.loading {
  font-size: 1.8rem;
  color: #4832f4;
  font-weight: bold;
}